* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("./img/world-map.png");
  background-color: #cccc;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 10px;

  h1 {
    margin: 10px;
    font-size: 25px;
    text-align: center;
  }

  .game {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // border: 2px solid red;
    width: 80%;
    height: 80%;

    .country {
      border: 2px solid black;

      font-size: 35px;
      // margin: 0 auto;
      background-color: #cccc;
      opacity: 0.7;
      height: 45%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 5px;
    }

    #answer-boxes {
      height: 70%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      div {
        width: 100%;
        height: 60px;
        margin: 5px 0;
        background-color: blue;
        opacity: 0.7;

        button {
          border: 2px solid black;
          font-size: 25px;
          background-color: inherit;
          width: inherit;
          height: inherit;
          color: white;
          margin: 0 auto;
        }
      }
    }
  }
}
